.timerWidget {
  position: absolute;
  top: 60%;
  right: 15%;
}
.mainTimerWidget {
  position: relative;
}
.mainTimerWidget::before {
  content: "";
  height: 20px;
  width: 120px;
  background: linear-gradient(
    gray,
    brown,
    darkred,
    black,
    darkred,
    brown,
    gray
  );
  position: absolute;
  left: 14px;
  top: 128px;
  opacity: 0.6;
}

.mainTimerWidget #timerCanvas {
  border-radius: 50%;
  background: radial-gradient(
    rgba(140, 215, 245, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  position: absolute;
  animation: animate-timer 1s ease-in-out;
}
@keyframes animate-timer {
  0% {
    background: linear-gradient(
      -45deg,
      rgba(140, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.6) 15%,
      rgba(140, 255, 255, 0.6) 20%
    );
  }
  25% {
    background: linear-gradient(
      -45deg,
      rgba(140, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0.6) 35%,
      rgba(140, 255, 255, 0.6) 40%
    );
  }
  50% {
    background: linear-gradient(
      -45deg,
      rgba(140, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.6) 55%,
      rgba(140, 255, 255, 0.6) 60%
    );
  }
  75% {
    background: linear-gradient(
      -45deg,
      rgba(140, 255, 255, 0.6) 70%,
      rgba(255, 255, 255, 0.6) 75%,
      rgba(140, 255, 255, 0.6) 80%
    );
  }
  100% {
    background: linear-gradient(
      -45deg,
      rgba(140, 255, 255, 0.6) 90%,
      rgba(255, 255, 255, 0.6) 95%,
      rgba(140, 255, 255, 0.6) 100%
    );
  }
}
.timerWidget button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: radial-gradient(red, darkred);
  color: white;
  border: 0;
  position: absolute;
  top: 137px;
  left: 69px;
  font-size: 10px;
  cursor: pointer;
}
.timerWidget button:active {
  background-color: red;
  transform: scale(0.98);
}
