@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap");
:root {
  --userCard-bg: rgba(0, 0, 145, 0.7);
  --userCard-bg-black: rgba(0, 0, 0, 0.7);
}

.user-card {
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  align-self: center;
  height: 600px;
  width: 700px;
  background-color: var(--userCard-bg);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 35px 265px 30px 180px 60px 30px;
  grid-template-columns: 30px 640px 30px;
  grid-template-areas:
    "toolbar toolbar toolbar"
    ". main ."
    ". . ."
    ". details ."
    ". contact ."
    ". . .";
  position: absolute;
}
.user-card > * {
  font-family: "Poppins", sans-serif;
}
.user-overview {
  grid-area: main;
  display: flex;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}
.user-spacer {
  display: flex;
  align-items: center;
}
.userCardToolbar {
  grid-area: toolbar;
  background: steelblue;
  /* height: 35px; */
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  background: linear-gradient(skyblue, steelblue, skyblue);
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.user-tagline {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 900;
  color: white;
}
.user-tagline .userTagLineEl {
  text-shadow: 10px 10px 20px var(--userCard-bg-black);
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-bottom: 20px;
}
.user-tagline .userTagLineEl::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  background-color: rgba(136, 209, 238, 0.4);
  height: 5px;
  width: 100%;
  margin-top: 2px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 0;
  animation: underline 1s ease-in-out infinite forwards;
}
@keyframes underline {
  from {
    background-color: rgb(29, 176, 235);
    opacity: 0.7;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 50%;
  }
  to {
    background-color: skyblue;
    opacity: 0.2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 20%;
  }
}
.user-image {
  background-image: url("../../resources/SK.jpg");
  background-size: cover;
  height: 100px;
  width: 100px;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--userCard-bg-black);
}
.user-details {
  grid-area: details;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  color: white;
}
.user-details > * {
  background-color: var(--userCard-bg-black);
  padding: 10px;
  border-radius: 10px;
}

.user-workExp,
.user-skills,
.user-education,
.user-works {
  width: 130px;
  position: relative;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
}
.user-skills::before,
.user-education::before,
.user-works::before,
.user-workExp::before {
  position: absolute;
  background-color: steelblue;
  width: inherit;
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.user-skills::before {
  content: "Major Skills";
}
.user-education::before {
  content: "Academics";
}
.user-works::before {
  content: "Sample Works";
}
.user-workExp::before {
  content: "Experience";
}

.user-skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-skills i {
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.user-skills img {
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 5px;
}
.user-skills > * {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.user-skills > * .tooltip {
  visibility: hidden;
  width: 100px;
  background-color: var(--userCard-bg-black);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  cursor: pointer;
}

.user-skills > *:hover .tooltip {
  visibility: visible;
}
.user-education {
  width: 130px;
}

.user-works a:hover {
  color: green;
  font-family: "Poppins", sans-serif;
}
.user-works a::before {
  content: "\f06d ";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: red;
}

.user-contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--userCard-bg-black);
  width: 250px;
  place-self: center;
}

.user-contact i {
  margin: 10px 20px;
  font-size: 20px;
}

.user-card a {
  text-decoration: none;
  color: white;
}
.user-works a {
  color: yellow;
  font-family: "Poppins", sans-serif;
}
.user-contact i:hover {
  color: greenyellow;
}
.user-education > * {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.user-education > *::before {
  font-family: "Poppins", sans-serif;
  content: "";
  height: 15px;
  width: 10px;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.3));
  position: absolute;
  left: -2px;
  top: 0px;
  opacity: 0.3;
}
.bird {
  background: url("https://media.giphy.com/media/tCJfibBuyK1Gw/giphy.gif");
  height: 100px;
  width: 100px;
  position: absolute;
  left: -100px;
  top: 100px;
  transform: scale(0.5);
  animation: bird 3s;
  opacity: 0;
}
@keyframes bird {
  0% {
    transform: translate(0px, 700px) scale(0.5);
  }
  25% {
    transform: translate(500px, 500px) scale(0.5);
    z-index: 0;
    opacity: 1;
  }
  26% {
    transform: translate(500px, 500px) scale(0.5) rotateY(180deg);
    z-index: -1;
    opacity: 0.5;
  }
  49% {
    transform: translate(0px, 400px) scale(0.5) rotateY(180deg);
    z-index: -1;
    opacity: 0.5;
  }
  50% {
    transform: translate(0px, 400px) scale(0.5);
    z-index: 1;
    opacity: 1;
  }
  74% {
    transform: translate(500px, 300px) scale(0.5);
    z-index: 1;
    opacity: 1;
  }
  75% {
    transform: translate(500px, 300px) scale(0.5) rotateY(180deg);
    z-index: -1;
    opacity: 0.5;
  }
  98% {
    transform: translate(0px, 0px) scale(0.5);
    z-index: 1;
    opacity: 1;
  }
  99% {
    transform: translate(0px, 0px) scale(0.5);
    z-index: 1;
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) scale(0.5);
    opacity: 0;
  }
}
