/** Browser Properties */
.browserWindow {
  height: 630px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.bToolbar {
  height: 30px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  cursor: move;
  background: linear-gradient(skyblue, steelblue, skyblue);
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.browser {
  background-color: white;
  height: 600px;
  width: 80vw;
}
