@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Orbitron:wght@600&display=swap");
@import url("./util/ToolBar.css");
@import url("./Browser/browser.css");
@import url("./Games/MineSweeper/minesweeper.css");
@import url("./Games//Tic-Tac-Toe/TicTacToe.css");
@import url("./Applications/Paint/paint.css");
@import url("./Applications/notepad/notepad.css");
@import url("./Power/power.css");
@import url("./util/BackgroundPicChanger.css");
@import url("./util/NotImplemented.css");
@import url("./Applications/activity-monitor/activity.css");
@import url("./Applications/User-Info/user-info.css");
@import url("./Widgets/Clock/clock.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 100%;
  grid-template-areas:
    "arena"
    "taskbar";
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1634492597965-701e867bb733?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.arena {
  grid-area: arena;
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
}
.taskbar {
  grid-area: taskbar;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(56, 103, 141, 0.4),
    rgba(56, 150, 250, 0.4)
  );
}
.iconSpacer {
  /* border: 1px gray inset; */
  /* border-top: 0;
  width: 70%; */
}
.timer {
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 12px black, -1px -1px 12px black;
}
.taskbar > * {
  z-index: 100;
}
.taskbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}
.taskbar a {
  text-decoration: none;
  margin: 0;
  text-align: left;
  padding: 12px 15px 12px 15px;
  /* background-color: rgba(57, 150, 255, 0.8); */
  background-color: rgba(57, 150, 255, 0.5);
  color: white;
  font-size: 10px;
  letter-spacing: 1.4px;
  /* position: relative; */
  display: block;
  width: 120px;
  font-family: "Mulish", sans-serif;
  border-radius: 10px;
  border: none;
}
#start {
  background: linear-gradient(to bottom, green, yellowgreen);
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  font-size: 20px;
}
/* .start:hover::after {
  font-family: "Font Awesome 5 Free";
  content: "\f135";
  font-weight: 900;
  position: absolute;
  background: radial-gradient(yellowgreen, green);
  width: 120px;
  height: 50px;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0px;
  font-size: 20px;
}
.main > *:hover::after {
  font-family: "Font Awesome 5 Free";
  content: "\f135";
  font-weight: 900;
  position: absolute;
  background: radial-gradient(yellowgreen, green);
  width: 120px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0px;
  font-size: 20px;
} */

.taskbar .superSub a {
  background-color: rgba(57, 150, 255, 0.5);
}
.taskbar li:hover > a {
  background-color: #2f95c8;
  cursor: pointer;
}
.taskbar .sub,
.taskbar .superSub {
  position: absolute;
  display: none;
}
.taskbar .main:hover .sub,
.taskbar .sub > li:hover .superSub {
  display: block;
}

.taskbar .sub {
  position: absolute;
  bottom: 50px;
  left: 0;
}
.taskbar .sub > li {
  position: relative;
}
.taskbar .superSub {
  position: absolute;
  left: 120px;
  bottom: -1px;
}

.taskbar .sub li {
  position: relative;
  margin-top: 1px;
}

.close {
  background: radial-gradient(red, darkred);
  width: 23px;
  height: 23px;
  color: white;
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
.RClickMenu {
  padding: 10px 4px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: rgba(57, 150, 255, 0.5);
  color: white;
  font-size: 10px;
  letter-spacing: 1.4px;
  height: 80px;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
}
.RClickMenu .mOption {
  padding: 4px;
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.3);
  font-family: "Mulish", sans-serif;
}
.RClickMenu .mOption:last-child {
  border-bottom: none;
}
.RClickMenu .mOption:hover {
  background-color: rgba(37, 100, 255, 0.8);
}
.bottle {
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-shadow: 1px 1px 6px rgba(0, 0, 100, 0.5);
}
@keyframes bottle-rotate {
  0% {
    transform: rotateZ(0deg);
    color: sandybrown;
  }
  50% {
    transform: rotateZ(360deg);
    color: greenyellow;
    text-shadow: 1px 1px 6px rgba(255, 255, 100, 0.5);
  }
  100% {
    transform: rotateZ(720deg);
    color: white;
    text-shadow: 1px 1px 6px lavender;
  }
}
