.powerOverLay {
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
.messagePower {
  color: steelblue;
  font-size: 30px;
  margin-top: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.messagePowerActive {
  color: white;
  text-shadow: 1px 1px 6px lavender;
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.leafPower {
  height: 60px;
  width: 60px;
  font-size: 30px;
  padding: 5px;
  background: radial-gradient(green, lightgreen, green);
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.turnOnPower {
  height: 60px;
  width: 60px;
  background: red;
  color: white;
  font-weight: 600;
  display: flex;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  justify-self: end;
}

.turnOnPower:active {
  background: green;
  color: white;
  transform: scale(0.98);
}

@keyframes leaf-animate {
  0% {
    transform: translateX(-400%) rotateZ(0deg) translateY(-20%);
  }
  50% {
    transform: translateX(0%) rotateZ(540deg) translateY(40%);
  }

  100% {
    transform: translateX(400%) rotateZ(1080deg) translateY(-20%);
  }
}
