:root {
  --minesweeper-bg: linear-gradient(
    45deg,
    rgba(134, 207, 236, 0.5),
    rgb(0, 0, 255, 0.5),
    rgba(134, 207, 236, 0.5)
  );
}

/**MineSweeper */
.mineWindow {
  height: 370px;
  width: 290px;
  display: flex;
  flex-direction: column;
  background: var(--minesweeper-bg);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  font-family: "Orbitron", sans-serif;
  position: absolute;
}
.mineToolbar {
  height: 35px;
  width: inherit;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(skyblue, steelblue, skyblue);
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.mineToolbar i {
  background-color: yellow;
  border-radius: 50%;
}
.mineTimer {
  height: 45px;
  width: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px 10px black;
}
.mineContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  height: 290px;
  width: 290px;
  background-color: var(--minesweeper-bg);
  padding: 5px;
  cursor: pointer;
}
.bomb,
.neighbour,
.brick,
.cover {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
}
.bomb {
  background: radial-gradient(red, darkred);
  color: black;
}
.neighbour {
  background: radial-gradient(yellow, orange);
  color: steelblue;
}
.brick {
  background: radial-gradient(white, lightgray);
  color: black;
}
.cover {
  background: rgba(0, 0, 0, 1);
  color: transparent;
}
.cover:hover {
  background-color: steelblue;
  color: transparent;
  animation: coverHover 0.1s linear;
}
@keyframes coverHover {
  0% {
    background: linear-gradient(
      -45deg,
      steelblue 30%,
      white 40%,
      steelblue 50%
    );
    color: transparent;
  }
  25% {
    background: linear-gradient(
      -45deg,
      steelblue 40%,
      white 50%,
      steelblue 60%
    );
    color: transparent;
  }
  50% {
    background: linear-gradient(
      -45deg,
      steelblue 45%,
      white 55%,
      steelblue 65%
    );
    color: transparent;
  }
  75% {
    background: linear-gradient(
      -45deg,
      steelblue 50%,
      white 60%,
      steelblue 70%
    );
    color: transparent;
  }
  100% {
    background: linear-gradient(
      -45deg,
      steelblue 60%,
      white 70%,
      steelblue 80%
    );
    color: transparent;
  }
}
.gameOver {
  position: absolute;
  display: flex;
  height: 100%;
  width: inherit;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: 0px 2px 6px black;
}
.retryMS {
  margin-top: 10px;
  border: 0;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
}
.retryMS:hover {
  animation: colorRetry 0.3s;
  cursor: pointer;
}
.retryMS:active {
  transform: scale(0.9);
}
@keyframes colorRetry {
  0% {
    background: linear-gradient(-45deg, green 30%, white 40%, darkgreen 50%);
  }
  25% {
    background: linear-gradient(-45deg, green 40%, white 50%, darkgreen 60%);
  }
  50% {
    background: linear-gradient(-45deg, green 45%, white 55%, darkgreen 65%);
  }
  75% {
    background: linear-gradient(-45deg, green 50%, white 60%, darkgreen 70%);
  }
  100% {
    background: linear-gradient(-45deg, green 60%, white 70%, darkgreen 80%);
  }
}
@keyframes bombanimate {
  0% {
    transform: scale(0.5) rotateZ(0deg);
  }

  100% {
    transform: scale(4) rotateZ(360deg);
  }
}
