/** Paint*/

.paintWindow {
  height: 510px;
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
}
.paintCanvas {
  background-color: white;
  cursor: crosshair;
}
.paintToolBar,
.paintToolBox {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 35px;
  width: inherit;
  background-color: steelblue;
}
.paintToolBar {
  display: flex;
  justify-content: space-between;
  cursor: move;
  background: linear-gradient(skyblue, steelblue, skyblue);
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.paintToolBox > * {
  margin: 0 15px 0 15px;
  cursor: pointer;
}
#color {
  border: none;
}
.paintButton {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}
#clear {
  color: red;
  font-weight: bold;
}
